PORT=
GEMINI_API_URL=
GEMINI_API_KEY=
GEMINI_MODEL=
GROQ_API_URL=
GROQ_API_KEY=
GROQ_MODEL=
OWNER_PHONE=
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=

ADMIN_USER=admin
ADMIN_PASS=kasku2024
SESSION_SECRET=kasku-secret-key-change-me-in-production
